div {
	width: 600px;
	height: 1067px;
	background: url(../images/20230829_125319-ezgif.com-video-to-gif-converter.gif);
	box-shadow: inset 0px 0px 20px 25px rgb(22, 22, 22);
}
  body{
	display: flex;
	justify-content: center;
	background-color: rgb(22, 22, 22);
  }